<a href="https://colab.research.google.com/github/AnjanaAbY/python-assignments/blob/main/list_dictionary_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to sum all the items in a list.

In [1]:
li=[56,89,0,37,5,34]
print(sum(li))

221

2. Write a Python program to get the largest number from a list.

In [2]:
li=[56,89,0,37,5,34]
li.sort()
print(li[-1])

89

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

Sample List : ['abc', 'xyz', 'aba', '1221']

Expected Result : 2

In [3]:
sample=['abc','xyz','aba','1221']
count=0
for i in sample:
  if len(i)>2 and i[0]==i[-1]:
    count=count+1
print(count)

2

4. Write a Python program to remove duplicates from a list.

In [4]:
l1=['abc','123','xyz','abc','678','123']
l2=[]
for i in l1:
  if i not in l2:
    l2.append(i)
print(l2)

['abc', '123', 'xyz', '678']

5. Write a Python program to check if a list is empty or not.

In [5]:
li=[1,"hi",True,"hello",123]
if len(li)==0:
  print("list is empty")
else:
  print("list is not empty")

list is not empty

6. Write a Python program to filter the list if the length of the character is < 4

Sample List : ['abc', 'xyz', 'aba', '1221']

Expected Result: ['abc', 'xyz', 'aba']

In [6]:
l1=["abc","xyz","aba","1221"]
new_list=[]
for i in l1:
  if len(i)<4:
    new_list.append(i)
print(new_list)

['abc', 'xyz', 'aba']

7.Write a Python program to find the second largest number in a list.

In [7]:
li=[56,89,0,37,5,34]
li.sort()
print(li[-2])

56

8. Write a Python program to reverse a list at a specific location.

In [9]:
li=[1,"hi",True,"hello",2,3]
p=int(input("enter the position:"))
if 0<=p<len(li):
  rev=li[:p]+li[:p-1:-1]
  print(rev)

enter the position:2
[1, 'hi', 3, 2, 'hello', True]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [11]:
user=input("enter the string:")
li=list(user)
rev=li[::-1]
if li==rev:
  print("True")
else:
  print("false")

enter the string:malayalam
True

10. Write a Python a program to find the union and intersection of two lists.

In [13]:
a=[1,2,3,4,5]
b=[2,3,4,5,6,7]
union_of_list=list(set(a+b))
print(union_of_list)
intersection_of_list=list(set(a)&set(b))
print(intersection_of_list)

[1, 2, 3, 4, 5, 6, 7]
[2, 3, 4, 5]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [14]:
d1={"hi":67,"hello":34,"hola":45,"bonjour":98}
d2={}
sorted_val=sorted(d1.values())
for i in sorted_val:
  for k,v in d1.items():
    if v==i:
      d2[k]=v
print("ascending order:",d2)
d3=dict(reversed(list(d2.items())))
print("descending order:",d3)

ascending order: {'hello': 34, 'hola': 45, 'hi': 67, 'bonjour': 98}
descending order: {'bonjour': 98, 'hi': 67, 'hola': 45, 'hello': 34}

12. Write a Python script to check whether a given key already exists in a dictionary.

In [15]:
d1={'abc':1,'def':2,'ghi':3}
k1=input("enter key you want to check:")
if k1 in d1.keys():
  print(k1,"is already exist in the dictionary")
else:
  print(k1,"is not present in the dictionary")

enter key you want to check:def
def is already exist in the dictionary

13.Write a Python program to sum all the values in a dictionary.

In [16]:
d2={'a':250,'b':28,'c':75,'d':64}
s=0
for i in d2.values():
  s=s+i
print("sum of values=",s)

sum of values= 417

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

Eg:

Input : 3

Output : {1:1, 2:4, 3:9}

In [17]:
num=int(input("enter the input number:"))
d={}
for i in range(1,num+1):
  if i<10:
    d[i]=i**3
  else:
    print("num is not less than 10")
print(d)

enter the input number:9
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

15.Write a Python program to sort a given dictionary by key.

In [18]:
d={65:'pizza',45:'burger',70:'fries',25:'wrap'}
k1=list(d.keys())
k1.sort()
sorted_list={i:d[i] for i in k1}
print(sorted_list)

{25: 'wrap', 45: 'burger', 65: 'pizza', 70: 'fries'}

16.  Write a Python program to create a dictionary from a string.

Note: Track the count of the letters from the string.

Sample string : 'learnpython'

Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

In [19]:
sample='learnpython'
d={}
for i in sample:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17. Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:

item4 55

item1 45.5

item3 41.3

In [21]:
sample={'item1':45.50,'item2':35,'item3':41.30,'item4':55,'item5':24}
a=list(sample.values())
d=dict()
a.sort(reverse=True)
a=a[:3]
for i in a:
  for j in sample.keys():
    if(sample[j]==i):
      print(str(j)+" "+str(sample[j]))

item4 55
item1 45.5
item3 41.3